/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Inter-Bold";
  src: url("./assets/fonts/Inter-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("./assets/fonts/Inter-SemiBold.ttf") format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("./assets/fonts/Inter-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("./assets/fonts/IBMPlexSans-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("./assets/fonts/IBMPlexSans-Medium.ttf") format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("./assets/fonts/IBMPlexSans-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  margin: auto;
  max-width: 360px;
  width: 100%;
  background-color: rgba(16, 20, 24, 1);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
